@import 'settings';
@import '../../components/foundation/scss/foundation';

pre {
  margin-bottom: 1.7em;
  white-space:pre-wrap; 
  word-wrap:break-word; 
  overflow:auto; 
}

ul, ol { margin-left: 20px; margin-bottom: 0; }

.masthead {

  text-align: center;

  h1 {
    font: 3.75em  'Montserrat', Arial, Helvetica, sans-serif;
    padding: 0.5em 0.5em 0;
  }

  ul {
    display: inline-block;
    font-size: 1.5em;
  }
}

.article-image {
  margin-top: 1.5em;
}

section.body {
  padding-bottom: 2em;
}

.archive {
  list-style-type: none;
  font-size: 1.3em;
  margin: 0 0 2em 0;;
  padding: 0;
  li {
    i {
      color: $muted;
    }
    border-bottom: 1px solid #ccc;
    line-height: 2em;
    a {
      text-decoration: none;
      display: block;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

span.published_at {
  color: $muted;
  display: none;
}

.published_date {
  line-height: 1.4;
  margin-top: 0.6em;
  margin-bottom: 1em;
  color: $muted;
}

@media #{$small} {
  span.published_at {
    display: inline;
  }
}
