{{#if showMasthead}}
<div class="row masthead">
  <h1><a href="/"><img src="/assets/images/bangline_logo.png" alt="Bangline_" title="Bangline home page" /></a></h1>
  <ul class="inline-list">
    <li><a href="https://twitter.com/bangline_"><i class="icon-twitter"></i></a></li>
    <li><a href="https://github.com/bangline"><i class="icon-github"></i></a></li>
    <li><a href="https://bitbucket.org/bangline"><i class="icon-bitbucket"></i></a></li>
  </ul>
</div>
{{else}}
<div class="contain-to-grid sticky">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
    <h1><a href="/">bangline_</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="https://twitter.com/bangline_"><i class="icon-twitter"></i> Twitter</a></li>
      <li><a href="https://github.com/bangline"><i class="icon-github"></i> Github</a></li>
      <li><a href="https://bitbucket.org/bangline"><i class="icon-bitbucket"></i> BitBucket</a></li>
    </ul>
  </section>
</nav>
</div>
{{/if}}
