<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ title }}</title>
<meta name="description" content="{{ description }}">
<meta name="viewport" content="width=device-width">
<link href='http://fonts.googleapis.com/css?family=Muli|Montserrat' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{{ stylesheetTag '/assets/stylesheets/app' }}
{{ stylesheetTag '/assets/javascripts/vendor/highlightjs/styles/tomorrow-night-eighties' }}
<script src="/assets/javascripts/vendor/foundation/custom.modernizr.js"></script>
