<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-emerald-950 flex justify-center items-center h-screen">
    <div class="max-w-3xl mx-auto text-left p-6">
      <h1 class="text-green-500 text-4xl font-semibold mb-4">Bangline_</h1>

      <p class="text-gray-300 mb-6 text-2xl">Hello! I'm Dave, an Engineering Manager hailing from the scenic landscapes of Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿, with a deep passion for building exceptional things.</p>
      <p class="text-gray-300 mb-6 text-2xl">With over 15 years specializing in Ruby on Rails, I currently have the privilege of working at 37signals, and have worked at other great places like FreeAgent, and 1partcarbon.</p>

      <p class="text-gray-300 mb-6 text-2xl">My journey has been more than just code; it's been about understanding user needs and innovating alongside talented teams. Together, we've transformed concepts into remarkable, user-centered solutions.</p>

      <p class="text-gray-300 mb-6 text-2xl">Connect with me on <a href="https://www.linkedin.com/in/david-kennedy-bangline/" class="text-green-500">LinkedIn</a>, or if you are into football ⚽️ or Eurovision 🎤, find me on <a href="https://twitter.com/bangline_" class="text-green-500">Twitter</a>.</p>
      {{ content }}
    </div>
  </body>
</html>
