<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="Homepage of Dave Kennedy (Bangline) on the interweb.">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script data-host="https://app.microanalytics.io" data-dnt="false" src="https://app.microanalytics.io/js/script.js" id="ZwSg9rf6GA" async defer></script>
  </head>
  <body class="bg-emerald-950 grid h-screen place-items-center">
    <main class="max-w-4xl p-10">
      <h1 class="text-green-500 text-4xl font-semibold mb-4">Bangline_</h1>

      <p class="text-gray-300 mb-6 text-2xl">Hello! I'm Dave, an Engineering Manager hailing from the scenic landscapes of Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿, with a deep passion for building exceptional things.</p>
      <p class="text-gray-300 mb-6 text-2xl">With over 15 years specializing in Ruby on Rails, I'm an independant contractor after having the privilege of working at great places like 37signals, FreeAgent, and 1partCarbon.</p>

      <p class="text-gray-300 mb-6 text-2xl">My journey has been more than just code; it's been about understanding user needs and innovating alongside talented teams. Together, we've transformed concepts into remarkable, user-centered solutions.</p>

      <p class="text-gray-300 mb-6 text-2xl">Connect with me on <a href="https://www.linkedin.com/in/david-kennedy-bangline/" class="text-green-500 underline" aria-label="Dave Kennedy on LinkedIn">LinkedIn</a>, or if you are into football ⚽️ or Eurovision 🎤, find me on <a href="https://twitter.com/bangline_" class="text-green-500 underline" aria-label="Dave Kennedy on Twitter">Twitter</a>.</p>
      {{ content }}
    </main>
  </body>
</html>
