---
showMasthead: true
---
<ul class="archive">
{{#each posts.archive}}
<li>{{#linkTo this}}<span class="published_at">{{articleIcon type}} {{published}}</span> {{title}}{{/linkTo}}</li>
{{/each}}
</ul>
