<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> meta_head }}
  </head>
  <body>
    {{> header}}
    <div class="row">
      <div class="large-8 small-centered columns">
        <section class="body">{{> body}}</section>
      </div>
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/foundation/foundation.js" ></script>
    <script type="text/javascript" src="/assets/javascripts/vendor/highlightjs/highlight.pack.js" ></script>
    <script type="text/javascript">
      $(document).foundation();
      hljs.initHighlightingOnLoad()
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42443890-1', 'bangline.co.uk');
      ga('send', 'pageview');
    </script>
  </body>
</html>
