<div class="content">
  <figure>
  <div class="embed-container">
    <%= video talk.url %>
  </div>
  <figcaption><%= talk.title %> @ <%= talk.where %> <%= talk.date %></figcaption>
  </figure>
  <nav>
    <a href="/" class="button">Back</a>
  </nav>
</div>
